# Data and report outputs
*/data/*
*/reports/*
*/*.html
*/*.pdf
*/*.zip

# Presentation caches
*/heart-disease-cache/*
*/heart-disease-figure/*

# R data / history
.Rhistory
.RData

# Python notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

*.md
*.tex
*.docx
*.jpg
*.png
