/heart-disease-cache/*
# Data and report outputs
*/data/*
*/reports/*
*/*.html
*/*.pdf
*/*.zip

# Presentation caches
*/heart-disease-cache/*
*/heart-disease-figure/*

# R data / history
.Rhistory
.RData


